@model AppWebBeachSA.Models.Reservacion

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppWebBeachSA.styles.css" asp-append-version="true" />
</head>
<<div class="d-flex">
    <div>
        <h1 class="text-uppercase">Eliminar</h1>

        <h4 class="">reservación</h4>

        <h5>¿Esta seguro de querer eliminar esta reservación?</h5>
    </div>
</div>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CedulaCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CedulaCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IdPaquete)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IdPaquete)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TipoPago)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TipoPago)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Duracion)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Duracion)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Subtotal)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Subtotal)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Impuesto)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Impuesto)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Descuento)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Descuento)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MontoTotal)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MontoTotal)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Adelanto)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Adelanto)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MontoMensualidad)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MontoMensualidad)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Estado)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Estado)
    </dd>
</dl>

<form asp-action="Delete">
    <a asp-action="Listado" asp-controller="Reservaciones" class="btn boton">
        Volver
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
        </svg>
    </a>
    <input type="button" value="Delete" class="btn boton" data-bs-toggle="modal" data-bs-target="#ModalConfirmar" />

    <!-- Modal -->
    <div class="modal fade" id="ModalConfirmar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar accion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro de querer eliminar esta reservacion? Esta acción es irreversible
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn boton" data-bs-dismiss="modal">
                        Volver <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z" />
                            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466" />
                        </svg>
                    </button>
                    <button type="submit" class="btn boton">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</form>


