@model AppWebBeachSA.Models.ReservacionPaqueteLista

@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado</h1>

<p>
    <a asp-action="ConfirmarCliente">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaReservaciones.First().CedulaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaReservaciones.First().TipoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaReservaciones.First().FechaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaReservaciones.First().Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaReservaciones.First().MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaReservaciones.First().MontoMensualidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaReservaciones)
        {

        var modalID = "R" + item.Id;

            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.CedulaCliente)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.TipoPago)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.MontoMensualidad)
                </td>
                <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <button type="button" data-bs-toggle="modal" data-bs-target="#@modalID">Details</button> |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach(var reserva in Model.ListaReservaciones)
{
    var modalID = "R" + reserva.Id;
    string nombrePack = " ";

    foreach (var item in Model.ListaPaquetes)
    {
        if (item.ID == reserva.IdPaquete)
        {
            nombrePack = item.NombrePaquete;
        }
    }

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal fade" id="@modalID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles de la reservación: </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header text-center">
                                @reserva.CedulaCliente
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Tipo de paquete adquirido: @nombrePack</li>
                                <li class="list-group-item">Subtotal: @reserva.Subtotal</li>
                                <li class="list-group-item">Impuesto IVA: @reserva.Impuesto</li>
                                @if (reserva.Descuento > 0)
                                {
                                    <li class="list-group-item">Descuento aplicado: @reserva.Descuento</li>
                                }
                                <li class="list-group-item">Monto total a pagar: @reserva.MontoTotal</li>
                                <li class="list-group-item">Monto de adelanto: @reserva.Adelanto</li>
                                <li class="list-group-item">Monto de mensualidad: @reserva.MontoMensualidad</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}