@model IEnumerable<AppWebBeachSA.Models.Reservacion>

@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado</h1>

<p>
    <a asp-action="ConfirmarCliente">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CedulaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Adelanto)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.MontoMensualidad)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CedulaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Adelanto)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.MontoMensualidad)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
